:root {
  --bg-color: #fff;
  --text-color: #000;
  --topbar-bg: #f0f0f0;
  --text-muted: #888;
}

[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #fff;
  --topbar-bg: #111;
  --text-muted: #aaa;
}
