.topbar {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
}

/* Темная тема (по умолчанию) */
.topbar {
  background-color: #fff;
}

/* Светлая тема */
.theme-light .topbar {
  background-color: #000;
}

.dot-core {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

/* Темная тема (фон белый → Dot черный) */
.dot-core {
  background-color: #000;
}

/* Светлая тема (фон черный → Dot белый) */
.theme-light .dot-core {
  background-color: #fff;
}