.topbar {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
}

.dot-core {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
